<%- include("partials/header.ejs") %> 

<h1 class="title">To Do List</h1>

<div class="list">
    <% for (var i = 0; i < locals.listlength; i++) { %> 
        <div class="item">
            <input type="checkbox" class="item-checkbox">
            <label class="item-content"> <%=locals.list[i]%> </label>
        </div>
    <% } %> 

    <form action="/" method="post" class="additem">
        <input type="text" name="text" placeholder="Write here" class="additem-content"> 
        <input type="submit" name="item" class="additem-button">
    </form>
</div>

<%- include("partials/footer.ejs") %> 